NEXT_PUBLIC_API_URL=http://localhost:8000/api
OPENROUTER_API_KEY=
ANTHROPIC_API_KEY=
LLM_MODEL=moonshotai/kimi-k2.5
OPENROUTER_PROVIDERS=fireworks
S3_BUCKET=
S3_API=
S3_API_TOKEN=
S3_API_ACCESS_KEY_ID=
S3_API_SECRET=
